<div class="card">
  <div class="card-header">
    <h3>Edit <%= resource_name.to_s.humanize %></h3>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:t('.email_enter') %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="mb-3">
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:t('.password_enter') %>
        <% if @minimum_password_length %>
          <%= f.label @minimum_password_length.to_s + t('.char_min_msg'), class:"form-text" %>
        <% end %>
      </div>

      <div class="mb-3">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:t('.password_conf') %>
      </div>

      <div class="mb-3">
        <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control", placeholder:t('.current_password') %>
        <%= f.label t('.current_password_msg'), class:"form-text" %>
      </div>

      <div class="actions">
        <%= f.submit t('.update_btn_title'), class:"btn btn-dark" %>
      </div>
    <% end %>
  </div>
</div>

<br/>

<div class="card">
  <div class="card-header">
    <h3><%= t('.cancel_title') %></h3>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= t('.unhappy_msg') %></h5>
    <p class="card-text"><%= button_to t('.cancel_btn_title'), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %></p>
  </div>
</div>
<br/>
<%= link_to t('.back_btn_title'), :back, class: "btn btn-dark" %>
