

  <!-- CARDS FOR DIFFERENT MEAL CATEGORIES -->
<div class="row g-5">
          
  <div class="card border-3 bg-dark w-50">                    <!-- CARD INSIDE OF CONTAINER -->
    <!--image for category-->
    <%=image_tag("paleo.png", :alt => "paleo image")%>
    <div class="card-body">
      <!-- category title-->
      <h3 class="card-title fw-bolder text-light">Paleo</h3>
      <!-- Button to view more meals of this category -->
        <%=link_to "View meals", paleo_path(1), class:"btn btn-success btn-lg"%>     
      <div class="card-body text-light">
        <!-- brief description of category -->
        <p class="card-text">A paleo diet typically includes lean meats, fish, fruits, vegetables, nuts and seeds — foods that in the past could be obtained by hunting and gathering. A paleo diet limits foods that became common when farming emerged about 10,000 years ago.</p>
        <!-- description via https://www.mayoclinic.org/healthy-lifestyle/nutrition-and-healthy-eating/in-depth/paleo-diet/art-20111182-->
      </div>
    </div> 
  </div>

  <div class="card border-3 bg-dark w-50">                    <!-- CARD INSIDE OF CONTAINER -->
    <!--image for category-->
    <%=image_tag("vegan.png", :alt => "vegan image")%>
    <div class="card-body">
      <!-- category title-->
      <h3 class="card-title fw-bolder text-light">Vegan</h3>
      <!-- Button to view more meals of this category -->
        <%=link_to "View meals", vegan_path(1), class:"btn btn-success btn-lg"%>     
      <div class="card-body text-light">
        <!-- brief description of category -->
        <p class="card-text">A vegan diet contains only plants (such as vegetables, grains, nuts and fruits) and foods made from plants. Vegans do not eat foods that come from animals, including dairy products and eggs.</p>
        <!-- description via https://www.nhs.uk/live-well/eat-well/how-to-eat-a-balanced-diet/the-vegan-diet/-->
      </div>
    </div> 
  </div>

  <div class="card border-3 bg-dark w-50">                    <!-- CARD INSIDE OF CONTAINER -->
    <!--image for category-->
    <%=image_tag("vegiterian.png", :alt => "vegetarian image")%>
    <div class="card-body">
      <!-- category title-->
      <h3 class="card-title fw-bolder text-light">Vegetarian</h3>
      <!-- Button to view more meals of this category -->
        <%=link_to "View meals", vegetarian_path(1), class:"btn btn-success btn-lg"%>     
      <div class="card-body text-light">
        <!-- brief description of category -->
        <p class="card-text">The vegetarian diet involves abstaining from eating meat, fish and poultry.</p>
      </div>
    </div> 
  </div>

  <div class="card border-3 bg-dark w-50">                    <!-- CARD INSIDE OF CONTAINER -->
    <!--image for category-->
    <%=image_tag("pescatarian.png", :alt => "fish image")%>
    <div class="card-body">
      <!-- category title-->
      <h3 class="card-title fw-bolder text-light">Pescatarian</h3>
      <!-- Button to view more meals of this category -->
        <%=link_to "View meals", pescatarian_path(1), class:"btn btn-success btn-lg"%>     
      <div class="card-body text-light">
        <!-- brief description of category -->
        <p class="card-text">A pescatarian diet typically includes vegetables, grains and pulses along with fish and other seafood, but generally excludes meat and sometimes dairy.</p>
        <!-- description via https://www.bbcgoodfood.com/howto/guide/what-pescatarian-diet -->
      </div>
    </div> 
  </div>

</div>