<p><%= t(.'page_title') + @resource.email %>!</p>

<p><%= t(.'page_msg1') %></p>

<p><%= link_to t(.'change_password_btn_title'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t(.'page_msg2') %></p>
<p><%= t(.'page_msg3') %></p>
